---
import Layout from "../layouts/Layout.astro";
import "./index.css";
import woman from "../assets/woman.jpg";
import road from "../assets/road.jpg";
import sunset from "../assets/sunset.jpg";
import city from "../assets/city.jpg";
import palm from "../assets/palm.png";
import dots from "../assets/dots.png";
import waves from "../assets/waves.png";
---

<Layout>
  <section class="landing">
    <div class="background">
      <img src={road.src} alt="background" id="road" />
      <img src={woman.src} alt="background" id="woman" />
      <img src={sunset.src} alt="background" id="sunset" />
      <img src={city.src} alt="background" id="city" />
    </div>
    <div class="top-label">TORIO <br /> PANAMA 2024</div>
    <div class="navbar">
      <h1 data-hover="woman" data-click="stay">STAY</h1>
      <h1 data-hover="sunset">EXPLORE</h1>
      <h1 data-hover="city">BOOK</h1>
    </div>
  </section>
  <section class="stay" id="stay">
    <header>7.5500° N, 80.9500° W</header>
    <div class="stay-content-container">
      <h2>Find your home. <img src={waves.src} alt="palm" class="waves" /></h2>
      <p>
        Torio, Panama, is a serene coastal retreat, known for its pristine
        beaches, rolling hills, and peaceful atmosphere. A hidden gem for
        surfers and nature lovers, it offers breathtaking sunsets and a slow,
        tranquil pace of life. Torio is a quiet paradise, perfect for those
        seeking an off-the-beaten-path escape.
      </p>
    </div>
    <div class="stay-content-container">
      <h2>
        Realize your dream. <img src={palm.src} alt="palm" class="palm" />
      </h2>
      <p>
        Building a beach house in Torio, Panama, offers a peaceful escape with
        stunning ocean views and the sound of the waves at your door. Surrounded
        by natural beauty, it's the perfect place to create a serene retreat and
        live in harmony with nature.
      </p>
    </div>
  </section>
</Layout>

<script>
  function addEventListeners() {
    function addHeaderEventListeners() {
      const firstNavbarHeader = document.querySelector(
        ".navbar h1:first-child",
      );
      const secondNavbarHeader = document.querySelector(
        ".navbar h1:nth-child(2)",
      );
      const thirdNavbarHeader = document.querySelector(".navbar h1:last-child");
      const headers = [
        firstNavbarHeader,
        secondNavbarHeader,
        thirdNavbarHeader,
      ];

      headers.forEach((header) => {
        if (header) {
          header.addEventListener("mouseover", () => {
            const id = header.getAttribute("data-hover");
            if (!id) return;
            const img = document.getElementById(id);
            img?.classList.add("active");
          });
          header.addEventListener("mouseout", () => {
            const id = header.getAttribute("data-hover");
            if (!id) return;
            const img = document.getElementById(id);
            img?.classList.remove("active");
          });
          header.addEventListener("click", () => {
            const id = header.getAttribute("data-click");
            if (!id) return;
            const section = document.getElementById(id);
            section?.scrollIntoView({ behavior: "smooth" });
          });
        }
      });
    }

    addHeaderEventListeners();
  }

  addEventListeners();
</script>
